h2 {
  text-align: center;
  width: 90%;
  margin: 40px auto 0px;
}
.container {
  margin: 30px auto;
  width: 80%;
  max-width: 1024px;
}
.container img {
  width: 100%;
}
p.text {
  font-size: 1.3em;
  width: 90%;
  margin: 30px auto;
}
a.vote {
  display: block;
  width: 240px;
  background-color: #6BB97D;
  margin: 40px auto;
  text-align: center;
  color: #FFF;
  font-size: 1.3em;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}
