#facebox {
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position: relative;
}

#facebox .content {
  display: table;
  width: 700px;
  height: 400px;
  padding: 10px;
  background: #fff;
}

#facebox .content > p:first-child{
  margin-top: 0;
}
#facebox .content > p:last-child{
  margin-bottom: 0;
}

#facebox .close{
  position: absolute;
  top: 15px; right: 15px;
  padding: 2px;
}
#facebox .close img {
  opacity: 0.4;
  transition: opacity 0.2s;
}
#facebox .close:hover img {
  opacity: 0.7;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px; left: 0px;
  height: 100%; width: 100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}